.containerbox {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  /* gap: 1rem; */
}

.title {
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  margin:1rem;
}
