.navbox {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0.5rem 1rem;
  }

.navbox:hover {
  background: rgba(188, 196, 249, 0.17);
  border-radius: 8px;
}

.title {
  font-size: larger;
}
